@charset "UTF-8";
/* CSS Document */

.home img{
	width: 100%;
	height: 50px;
}

.triangles {
  height: 0px;
  width: 100%;
}

:-ms-input-placeholder {
  color: #26c1e5;
}

/*.social-media-icon{
	margin-bottom: -40px;
}*/