@charset "UTF-8";
/* CSS Document */

body{
	font: normal 100 20pt "proxima-nova", sans-serif;
}

h2 {
  font: normal 900 75pt "proxima-nova-extra-condensed", sans-serif;
  position:relative;
  font-size:80px;
  line-height:80px;
  color: white;
  text-transform: uppercase;
}
h2 img {
  width:100%;
}
span {
  position: absolute;
  width:100%;
  text-align:center;
  top:50%;
  margin-top:-40px;
}

.overlay {
	margin-bottom: 75px;
	width: auto;
	height: auto;
	position: relative;
	-webkit-transition: all 0.5s;
}
.overlay img {
	-webkit-transition: all 0.5s;
}
.overlay .magnifier {
	display: block;
	background: rgba(36,102,177,0.7);
	position: absolute;
	text-align: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	bottom: 0;
	right: 0;
	-webkit-transition: all 0.3s ease-in-out;
	opacity: 0;
	transform: scale(1);
}
.overlay h1 {
	transform: scale(0.2);
	-webkit-transition: all 0.3s ease 0.2s;
	opacity: 0;
	margin: 0;
	padding: 0;
}
.overlay .magnifier .content {
	width: 100%;
	position: relative;
	top: 50%;
	margin-top: -20px;
}
.overlay:hover .magnifier {
	opacity: 1;
	transform: scale(1);
	visibility: visible;
}
.overlay:hover h1 {
	opacity: 1;
	transform: scale(1);
}
h3, h4 {
	color: white;
}
.background-image {
	z-index: -10;
	margin: 0;
}
.triangles {
	height: 250px;
}

ul, li {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
header .container {
	padding: 0 5%;
}
.container {
	background-color: #2466b1;
}
nav#navigation {
	height: 38px;
	float: right;
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	width: 65%;
}
nav#navigation .nav-trigger {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 38px;
	height: 38px;
	background: #212121;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	z-index: 11;
	cursor: pointer;
}
nav#navigation ul li {
	float: left;
	list-style: none;
	text-align: center;
	width: 24%;
	margin-left: 1%;
}
nav#navigation ul li a {
	text-align: center;
	display: block;
	color: white;
	padding: 10px 0;
	border-radius: 5px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
nav#navigation ul li.current a {
	background: #CCC;
	color: #FFF;
}
nav#navigation ul li a:hover {
	background: #26c1e5;
	color: #ffffff;
}

@media only screen and (max-width : 900px) {
nav#navigation {
	position: absolute;
	width: 90%;
}
nav#navigation .nav-trigger {
	display: block;
}
nav#navigation .nav-trigger span {
	position: absolute;
	display: block;
	width: 20px;
	height: 2px;
	background: #FFF;
	top: 18px;
	left: 50%;
	margin-left: -10px;
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	transition: background .5s;
}
nav#navigation .nav-trigger span::before, .nav-trigger span::after {
	content: '';
	position: absolute;
	left: 0;
	background: inherit;
	width: 100%;
	height: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
nav#navigation .nav-trigger span::before {
	top: -6px;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
}
nav#navigation .nav-trigger span::after {
	bottom: -6px;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
}
nav#navigation .nav-trigger.open span {
	background: rgba(255,255,255,0);
}
nav#navigation .nav-trigger.open span::before, .nav-trigger.open span::after {
	background: #FFF;
}
nav#navigation .nav-trigger.open span::before {
	top: 0;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
nav#navigation .nav-trigger.open span::after {
	bottom: 0;
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
}
nav#navigation ul {
	width: 100%;
	position: absolute;
	right: 0;
	top: 38px;
	background: #212121;
	visibility: hidden;
	z-index: 50;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	-o-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-webkit-transition: -webkit-transform 0.5s, visibility 0 .5s;
	-moz-transition: -webkit-transform 0.5s, visibility 0 .5s;
	transition: -webkit-transform 0.5s, visibility 0 .5s;
}
nav#navigation ul.is-visible {
	visibility: visible;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.5s, visibility 0 0;
	-moz-transition: -moz-transform 0.5s, visibility 0 0;
	transition: 0.5s;
}
nav#navigation ul.is-visible li a {
	visibility: visible;
}
nav#navigation ul li {
	width: 50%;
	margin: 0;
}
nav#navigation ul li a {
	width: 100%;
	padding: 10px 0;
	color: #FFF;
	visibility: hidden;
	border-radius: 0;
}
nav#navigation ul li a:hover {
	border: 0;
}
nav#navigation ul li.last a {
	background: none;
	border: 0;
	display: block;
	padding: 15px 0;
	color: #FFF;
	font-size: .8em;
}
nav#navigation ul li.last a:hover {
	border: 0;
}
}

@media only screen and (max-width : 500px) {
nav#navigation ul li {
	width: 100%;
}
}
